/* .main {
  text-align: center;
} */
.c1{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7) ),url('companybanner.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 100vh;
    background-repeat: no-repeat; */
    height: 100vh;
    width: 100%;
}

.Missing h2, .PostPage h2, 
.Missing p, .PostPage p {
  margin-bottom: 1rem;
}

.navbar ul{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
}
.navbar li{
  color: white;
  list-style: none;
  padding: 15px 20px;
}
.navbar{
  display: inline-block;
  width: 800px;
  /* border: 2px solid red; */
}
.navbar li a{
  text-decoration:none;
  color: white;
}
.navbar ul li::after{
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar ul li:hover::after
{
  width: 100%;
}
.i1{
  width: 100px;
  margin: auto;
}
.sideimage{
  float:right;
  overflow: auto;
  padding-right: 30px;
  font-family: 'Bree Serif', serif;
  font-size: 17px;
  margin: auto;
  margin-top: 20px;
  padding-top: 0px;
}
#bars{
  display: none;
}
.navbar .fa{
  color: white;
  display: none;
}
@media(max-width:1000px)
{
  .navbar ul{
      margin-top: 40px;
  }
  .navbar ul li{
      display: inline-block;
      padding-left: 5px;
      margin: 5px;
      margin-left: 0px;
  }
  .navbar{
      position: absolute;
      background: 	#4B0082;
      height: 100vh;
      width: 200px;
      top: 0;
      left: -200px;
      text-align: left;
      transition: 1s;
  }
  .navbar .fa{
      width: 20px;
      display: inline-block;
      margin-left: 10px;
      margin-right: 20px;
      cursor: pointer;
      color: white;
      font-size: 22px;
  }
  #bars
  {
      top: 0;
      margin: 0;
      display: inline-block;
      color: white;
      margin-left: 10px;
      margin-top: 20px;
  }
  #close{
      margin-left: 150px;
  }
}
